*
{
   margin: 0;
   padding: 0;
}

#main
{
   width: 800px;
   margin: 1% auto 1% auto;
   padding: 1%;
   background-color: rgb(240, 240, 240);
}

h1
{
   text-align: center;
   color: rgb(69, 69, 69);
   margin-bottom: 2%;
}

#main div
{
   display: flex;
}

#blue,
#purple,
#transparent
{
   padding: 3%;
}

#blue,
#purple
{
   margin-bottom: 2%;
}

#blue
{
   justify-content: space-between;
   background-color: lightblue;
}

#purple
{
   justify-content: space-evenly;
   background-color: lightpink;
}

#transparent
{
   justify-content: space-between;
   background-color: rgb(29, 29, 29);
}

.blue,
.purple,
.transparent
{
   height: 200px;
}

p
{
   text-align: center;
   margin-top: 2%;
}